* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 300px;
}

.header {
    background-image: url(./img/header-background.png);
    height: 768px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #05022D;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__left {
    padding: 13px 0;
}

.nav__right, .nav__list, .nav__contacts {
    display: flex;
    align-items: center;
}

.nav__right {
    gap: 48px;
}

.nav__list {
    list-style: none;
    gap: 25px;
}

.nav__item a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;
    transition: all .6s;
}

.nav__item a:hover {
    color: #A551C1;
    border-bottom: 1px solid;
    transition: all .6s;
    font-size: 15px;
}

.nav__contacts {
    gap: 26px;
}

.nav__contacts p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.nav__contacts {
    transition: all .6s;
}

.nav__contacts a:hover {
    color: #A551C1 !important;
    transform: scale(1.3);
    transition: all .6s;
}